Repository headwind-sh/headwind: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-audit, cargo-deny, docs-build

Path conditions:
  cargo-audit: any of: \.rs$
  cargo-deny: any of: \.rs$
  docs-build: any of: ^docs/

chore: improve dependabot grouping and skip gitleaks on dependabot PRs
  .github/dependabot.yml
  .github/workflows/security.yml
Due: none

fix: homepage should redirect to /docs not /docs/intro
  docs/src/pages/index.tsx
Due: docs-build

feat: implement polling resource filtering based on event-source annotation
  src/metrics/mod.rs
  src/polling/mod.rs
Due: cargo-audit, cargo-deny

feat: implement webhook event filtering based on event-source annotation
  src/webhook/mod.rs
Due: cargo-audit, cargo-deny

feat: implement per-resource polling intervals
  src/polling/mod.rs
Due: cargo-audit, cargo-deny

chore: remove obsolete TODO comment about registry polling
  src/controller/deployment.rs
Due: cargo-audit, cargo-deny

feat: add web UI dashboard with filtering, sorting, and pagination
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  src/lib.rs
  src/main.rs
  src/static/css/custom.css
  src/static/img/favicon.ico
  src/static/img/logo.png
  src/ui/mod.rs
  src/ui/routes.rs
  src/ui/templates.rs
Due: cargo-audit, cargo-deny

chore: migrate pre-commit config to use pre-push stage
  .pre-commit-config.yaml
Due: none

feat: complete Phase 6 observability with InfluxDB v2 client and time-series charts
  deploy/k8s/configmap.yaml
  deploy/k8s/deployment.yaml
  src/config/mod.rs
  src/metrics/client.rs
  src/ui/routes.rs
  src/ui/templates.rs
Due: cargo-audit, cargo-deny

fix: enhance observability dashboard with update counts and time series improvements
  deploy/k8s/deployment.yaml
  src/approval/mod.rs
  src/controller/deployment.rs
  src/main.rs
  src/metrics/mod.rs
  src/ui/mod.rs
  src/ui/routes.rs
  src/ui/static_files.rs
  src/ui/templates.rs
Due: cargo-audit, cargo-deny

feat: add automatic dashboard refresh and fix approve/reject buttons (Phase 8)
  Cargo.lock
  Cargo.toml
  src/approval/mod.rs
  src/ui/mod.rs
  src/ui/routes.rs
  src/ui/templates.rs
Due: cargo-audit, cargo-deny

feat: add multi-mode authentication for Web UI with audit logging
  deploy/k8s/rbac.yaml
  src/controller/deployment.rs
  src/controller/helm.rs
  src/ui/auth.rs
  src/ui/mod.rs
  src/ui/routes.rs
Due: cargo-audit, cargo-deny

docs: add time-series charts and InfluxDB v2 documentation
  README.md
  docs/docs/configuration/web-ui.md
  docs/docs/guides/observability-dashboard.md
Due: docs-build

docs: add Web UI guides to Docusaurus sidebar navigation
  docs/sidebars.ts
Due: docs-build

fix: correct GitHub environment name to crates.io
  .github/workflows/release.yml
Due: none

feat: add GCP GCR support to release workflow
  .github/workflows/release.yml
Due: none

docs: add comprehensive installation instructions for crates.io and container registries
  README.md
Due: none

docs: update Artifact Registry URLs with actual project ID
  README.md
Due: none

fix: update release workflow to use gh CLI instead of deprecated actions
  .github/workflows/release.yml
Due: none

fix: add gcp-artifact-repo environment to docker job
  .github/workflows/release.yml
Due: none

wip: add Cross.toml for ARM64 cross-compilation
  Cross.toml
Due: none

fix: add vendored OpenSSL for ARM64 Linux cross-compilation
  Cargo.toml
Due: none

fix: use architecture-specific strip for ARM64 Linux binaries
  .github/workflows/release.yml
Due: none

fix: correct gh CLI upload syntax for release binaries
  .github/workflows/release.yml
Due: none

refactor: separate Docker workflow and make OpenSSL vendoring optional
  .github/workflows/docker.yml
  .github/workflows/release.yml
  Cargo.toml
Due: none

fix: disable Docker build cache to force rebuild with new Dockerfile
  .github/workflows/docker.yml
Due: none

fix: use helm repo index instead of cr index to avoid gh-pages dependency
  .github/workflows/helm-release.yml
Due: none

fix: remove invalid skip_upload parameter from chart-releaser-action
  .github/workflows/helm-release.yml
Due: none

fix: pull before pushing chart index to avoid conflicts
  .github/workflows/helm-release.yml
Due: none

fix: use reset strategy to avoid rebase conflicts when updating chart index
  .github/workflows/helm-release.yml
Due: none

chore: update Helm chart repository index [skip ci]
  docs/static/charts/index.yaml
Due: docs-build

ci: replace chart-releaser-action with direct cr CLI usage
  .github/workflows/helm-release.yml
Due: none

fix: correct chart-releaser download URL architecture
  .github/workflows/helm-release.yml
Due: none

feat: add Krew plugin manifest
  .krew.yaml
Due: none

chore: bump version to v0.1.1 for Krew distribution
  .krew.yaml
  Cargo.toml
  charts/headwind/Chart.yaml
Due: none
